{% extends "warehouses/base.html" %}
{% load static %}

{% block titulo %}<title>Perfil</title>{% endblock %}

	{% block indice %}
	{% endblock %}

	{% block indice_css %}
	<link rel="stylesheet" href="{% static 'css/ind02.css'%}" />
	{% endblock %}

	{% block cuerpo %}
	<header>
		<div class="row mt-2">
			{% block card_encabezado %}
			<div class="row mt-1">
				<div class="col-1">
					<div class="logotipo">
						<img src="/static/imagenes/logo.jpg" class="rounded" title="Materiales"
							alt="logotipo de materiales" width="120" />
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
	</header>
	<div class="perfil">
		<div class="col" style="text-align:left">
			<div class="container-lg my-2">
				<div class="mb-3 form-check text-center">
					<h4 class="text-secondary">{{ mensaje }}</h4>
				</div>
				{% if nivel == 2 %}
				<div class="mb-5 form-check text-center">
					<div class="alert {{ cla_mensaje2 }}">{{ mensaje2 }}</div>
				</div>
				{% else %}
				<form action="" method="post">{% csrf_token %}
					<div class="mb-3">
						<label for="cuenta" class="form-label">Cuenta</label>
						<input type="text" class="form-control" name="cuenta" value="{{ user.username }}"
							aria-describedby="emailHelp" placeholder="No es el email">
						<div id="emailHelp" class="form-text">Nunca comparta su cuenta con otras personas.</div>
					</div>
					<div class="mb-3">
						<label for="nombres" class="form-label">Nombres</label>
						<input type="text" class="form-control" name="nombres" value="{{ user.first_name }}"
							placeholder="Nombres">
					</div>
					<div class="mb-3">
						<label for="apellidos" class="form-label">Apellidos</label>
						<input type="text" class="form-control" name="apellidos" value="{{ user.last_name }}"
							placeholder="Apellidos">
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Correo electrónico</label>
						<input type="text" class="form-control" name="email" value="{{ user.email }}"
							placeholder="e-mail">
					</div>
					<button type="submit" class="btn btn-primary">Actualizar</button>
				</form>
				{% endif %}
			</div>
		</div>
	</div>
	{% endblock %}
